body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #d0ecf7;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 30px;
  border-bottom: 2px solid #2196f3;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.highlight {
  color: #1a237e;
}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav-links a:hover {
  color: #1976d2;
}

Notification-title
.notification-title {
  background: #64b5f6;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
}



.dropdowns {
  display: flex;
  gap: 20px;
  align-items: center;
}

.alert-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2d5e68;
  color: white;
  border: none;
  cursor: pointer;
}

/* Footer */
.footer {
  background: #a2d9f5;
  padding: 20px;
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}
